{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Réinitialisation du mot de passe" %}{% endblock %}

{% block content %}


    <h3>{% trans "Réinitialisation du mot de passe" %}</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

          <p class="fs-md">{% trans "Changez votre mot de passe en trois étapes simples. Cela permet de sécuriser votre nouveau mot de passe." %}</p>
          <ol class="list-unstyled fs-md">
            <li><span class="text-primary me-2">1.</span>Remplissez votre adresse e-mail ci-dessous.</li>
            <li><span class="text-primary me-2">2.</span>Nous vous enverrons un lien temporaire par courriel.</li>
            <li><span class="text-primary me-2">3.</span>Utilisez le lien pour changer votre mot de passe sur notre site sécurisé.</li>
          </ol>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
          <div class="card py-2 mt-4">
            <form class="card-body needs-validation" novalidate>
              <div class="mb-3">
                <label class="form-label" for="recover-email">Enter your email address</label>
                {{ form.email }}
                <div class="invalid-feedback">Please provide valid email address.</div>
              </div>
                <input class="btn btn-primary" type="submit" value="{% trans 'Obtenir un nouveau mot de passe' %}" />
            </form>
          </div>

    </form>

    <p>{% blocktrans %}Veuillez nous contacter si vous avez des difficultés à réinitialiser votre mot de passe.{% endblocktrans %}</p>
{% endblock %}
