{% extends 'simple_base.html' %}
{% load static %}
{% block title %} Paiement{% endblock %}
{% block body %}
    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'standardApps:home' %}"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="#">Compte</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Méthodes de paiement</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0">Mes méthodes de paiement</h1>
        </div>
      </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <!-- Sidebar-->
        {% include 'account-aside-dashboard.html' %}
        <!-- Content  -->
        <section class="col-lg-8">
          <!-- Toolbar-->
          <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
            <h6 class="fs-base text-light mb-0">Le mode de paiement principal est utilisé par défaut</h6><a class="btn btn-primary btn-sm" href="{% url 'standardApps:customerlogout' %}"><i class="ci-sign-out me-2"></i>Se déconnecter</a>
          </div>
          <!-- Payment methods list-->
          <div class="table-responsive fs-md mb-4">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>Vos cartes de crédit / débit</th>
                  <th>Nom sur la carte</th>
                  <th>Expire le</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="py-3 align-middle">
                    <div class="d-flex align-items-center"><img src="{% static 'img/card-visa.png' %}" width="39" alt="Visa">
                      <div class="ps-2"><span class="fw-medium text-heading me-1">Visa</span>ending in 4999<span class="align-middle badge bg-info ms-2">Primary</span></div>
                    </div>
                  </td>
                  <td class="py-3 align-middle">Susan Gardner</td>
                  <td class="py-3 align-middle">08 / 2019</td>
                  <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                      <div class="ci-trash"></div></a></td>
                </tr>
                <tr>
                  <td class="py-3 align-middle">
                    <div class="d-flex align-items-center"><img src="{% static 'img/card-master.png' %}" width="39" alt="MesterCard">
                      <div class="ps-2"><span class="fw-medium text-heading me-1">MasterCard</span>ending in 0015</div>
                    </div>
                  </td>
                  <td class="py-3 align-middle">Susan Gardner</td>
                  <td class="py-3 align-middle">11 / 2021</td>
                  <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                      <div class="ci-trash"></div></a></td>
                </tr>
                <tr>
                  <td class="py-3 align-middle">
                    <div class="d-flex align-items-center"><img src="{% static 'img/card-paypal.png' %}" width="39" alt="PayPal">
                      <div class="ps-2"><span class="fw-medium text-heading me-1">PayPal</span>s.gardner@example.com</div>
                    </div>
                  </td>
                  <td class="py-3 align-middle">&mdash;</td>
                  <td class="py-3 align-middle">&mdash;</td>
                  <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                      <div class="ci-trash"></div></a></td>
                </tr>
                <tr>
                  <td class="py-3 align-middle">
                    <div class="d-flex align-items-center"><img src="{% static 'img/card-visa.png' %}" width="39" alt="Visa">
                      <div class="ps-2"><span class="fw-medium text-heading me-1">Visa</span>ending in 6073</div>
                    </div>
                  </td>
                  <td class="py-3 align-middle">Susan Gardner</td>
                  <td class="py-3 align-middle">09 / 2021</td>
                  <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                      <div class="ci-trash"></div></a></td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="text-sm-end"><a class="btn btn-primary" href="#add-payment" data-bs-toggle="modal">Ajouter une méthode de paiement</a></div>
        </section>
      </div>
    </div>
    <!-- Footer-->
        {% include 'footer.html' %}
    {% endblock %}