{% extends 'base.html' %}
{% load static %}
{% block title %} Payement Facture {% endblock %}
{% block body %}

    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'home' %}"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="shop-grid-ls.html">Shop</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
      </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <section class="col-lg-8">
          <!-- Steps-->
            {% include 'checkout-payment-steps.html' %}
          <!-- Payment methods accordion-->
          <h2 class="h6 pb-3 mb-2">Choisissez le mode de paiement</h2>
          <div class="accordion mb-2" id="payment-method">
            <div class="accordion-item">
              <h3 class="accordion-header"><a class="accordion-button" href="#card" data-bs-toggle="collapse"><i class="ci-card fs-lg me-2 mt-n1 align-middle"></i>Payer avec une carte de crédit</a></h3>
              <div class="accordion-collapse collapse show" id="card" data-bs-parent="#payment-method">
                <div class="accordion-body">
                  <p class="fs-sm">Nous acceptons les cartes de crédit suivantes:&nbsp;&nbsp;<img class="d-inline-block align-middle" src="{% static 'img/cards.png' %}" width="187" alt="Cerdit Cards"></p>
                  <div class="credit-card-wrapper"></div>
                  <form class="credit-card-form row">
                    <div class="mb-3 col-sm-6">
                      <input class="form-control" type="text" name="number" placeholder="Numéro de la carte" required>
                    </div>
                    <div class="mb-3 col-sm-6">
                      <input class="form-control" type="text" name="name" placeholder="Nom" required>
                    </div>
                    <div class="mb-3 col-sm-3">
                      <input class="form-control" type="text" name="expiry" placeholder="MM/AA" required>
                    </div>
                    <div class="mb-3 col-sm-3">
                      <input class="form-control" type="text" name="cvc" placeholder="CVC" required>
                    </div>
                    <div class="col-sm-6">
                      <button class="btn btn-outline-primary d-block w-100 mt-0" type="submit">Valider</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header"><a class="accordion-button collapsed" href="#paypal" data-bs-toggle="collapse"><i class="ci-paypal me-2 align-middle"></i>Pay with PayPal</a></h3>
              <div class="accordion-collapse collapse" id="paypal" data-bs-parent="#payment-method">
                <div class="accordion-body fs-sm">
                  <p><span class='fw-medium'>PayPal</span> - le moyen le plus sûr et le plus facile de payer</p>
                  <form class="row needs-validation" method="post" novalidate>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <input class="form-control" type="email" placeholder="Adresse e-mail" required>
                        <div class="invalid-feedback">Veuillez entrer une adresse e-mail valide</div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <input class="form-control" type="password" placeholder="Password" required>
                        <div class="invalid-feedback">Veuillez entrer votre mot de passe</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-flex flex-wrap justify-content-between align-items-center"><a class="nav-link-style" href="#">Mot de passe oublié ?</a>
                        <button class="btn btn-primary" type="submit">Se connecter</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header"><a class="accordion-button collapsed" href="#points" data-bs-toggle="collapse"><i class="ci-gift me-2"></i>Gagner des points de récompenses</a></h3>
              <div class="accordion-collapse collapse" id="points" data-bs-parent="#payment-method">
                <div class="accordion-body">
                  <p>Vous avez actuellement<span class="fw-medium">&nbsp;384</span>&nbsp;Points de récompense à dépenser.</p>
                  <div class="form-check d-block">
                    <input class="form-check-input" type="checkbox" id="use_points">
                    <label class="form-check-label" for="use_points">Utiliser mes points de récompense pour payer cette commande.</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Navigation (desktop)-->
          <div class="d-none d-lg-flex pt-4">
            <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="{% url 'checkout:checkoutShipping' %}"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Retour à la rubrique Livraison</span><span class="d-inline d-sm-none">Retour</span></a></div>
            <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="{% url 'checkout:checkoutReview' %}"><span class="d-none d-sm-inline">Revoir votre commande</span><span class="d-inline d-sm-none">Revoir votre commande</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></a></div>
          </div>
        </section>
        <!-- Sidebar-->
        {% include 'sidebar-order-summary.html' %}
      </div>
      <!-- Navigation (mobile)-->
      <div class="row d-lg-none">
        <div class="col-lg-8">
          <div class="d-flex pt-4 mt-3">
            <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="{% url 'checkout:checkoutShipping' %}"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Shipping</span><span class="d-inline d-sm-none">Back</span></a></div>
            <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="{% url 'checkout:checkoutReview' %}"><span class="d-none d-sm-inline">Revoir votre commande</span><span class="d-inline d-sm-none">Revoir votre commande</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer-->
   {% include 'footer.html' %}
{% endblock %}