         <div class="steps steps-light pt-2 pb-3 mb-5"><a class="step-item active" href="{% url 'shopcart' %}">
              <div class="step-progress"><span class="step-count">1</span></div>
              <div class="step-label"><i class="ci-cart"></i>Panier</div></a><a class="step-item active" href="{% url 'checkout:checkoutdetails' %}">
              <div class="step-progress"><span class="step-count">2</span></div>
              <div class="step-label"><i class="ci-user-circle"></i>Details</div></a>
             <a class="step-item active" href="#">
              <div class="step-progress"><span class="step-count">3</span></div>
              <div class="step-label"><i class="ci-card"></i>Paiement</div></a><a class="step-item" href="#">
              <div class="step-progress"><span class="step-count">4</span></div>
              <div class="step-label"><i class="ci-check-circle"></i>Revue</div></a></div>