{% extends 'simple_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Details Facturation {% endblock %}
{% block body %}

    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'standardApps:home' %}"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="{% url 'shopcart' %}">Panier</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Facturattion</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0">Facturation</h1>
        </div>
      </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <section class="col-lg-8">
          <!-- Steps-->
           <div class="steps steps-light pt-2 pb-3 mb-5"><a class="step-item active" href="{% url 'shopcart' %}">
              <div class="step-progress"><span class="step-count">1</span></div>
              <div class="step-label"><i class="ci-cart"></i>Panier</div></a><a class="step-item active" href="{% url 'checkout:checkoutdetails' %}">
              <div class="step-progress"><span class="step-count">2</span></div>
              <div class="step-label"><i class="ci-user-circle"></i>Details</div></a>
               <a class="step-item" href="#">
              <div class="step-progress"><span class="step-count">3</span></div>
              <div class="step-label"><i class="ci-card"></i>Paiement</div></a>
               <a class="step-item" href="#">
              <div class="step-progress"><span class="step-count">4</span></div>
              <div class="step-label"><i class="ci-check-circle"></i>Revue</div></a></div>
          <!-- Autor info-->
          <div class="d-sm-flex justify-content-between align-items-center bg-secondary p-4 rounded-3 mb-grid-gutter">
            <div class="d-flex align-items-center">
              <div class="img-thumbnail rounded-circle position-relative flex-shrink-0"><span class="badge bg-warning position-absolute end-0 mt-n2" data-bs-toggle="tooltip" title="Reward points">384</span><img class="rounded-circle" src="{% static 'userdefaultimage/userdefault.png' %}" width="90" alt="Susan Gardner"></div>
              <div class="ps-3">
                <h3 class="fs-base mb-0">{{ request.user.username }}</h3><span class="text-accent fs-sm">{{ request.user.email }}</span>
              </div>
            </div><a class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0" href="{% url 'account:accountProfile' %}"><i class="ci-edit me-2"></i>Modifier le profile</a>
          </div>
          <!-- Shipping address-->
          <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Adresse de livraison</h2>
        <form action="" method="Post" class="uniForm">
            {% csrf_token %}

          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-fn">Prénom</label>
                {{ form.prenom }}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-ln">Nom</label>
                {{ form.nom }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-phone">Numéro de téléphone</label>
                {{ form.numero_de_telephone }}
              </div>
            </div>
          <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-zip">Code postal</label>
                {{ form.code_postal }}
              </div>
          </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-company">Entreprise</label>
              {{ form.entreprise }}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-country">Pays</label>
                    {{ form.pays }}
            </div>
          </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-address-1">Adresse 1</label>
                {{ form.adresse }}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-address-2">Adresse 2</label>
                 {{ form.seconde_adresse }}
              </div>
            </div>
          </div>
        <h6 class="mb-3 py-3 border-bottom">Methode de paiement</h6>
            <div class="row">
                <div class="d-blcok my-3">
                    {% for value, name in form.fields.mode_payment.choices %}
                        <div class="custom-control custom-radio">
                        <input id="{{ name }}" name="mode_payment" value="{{ value }}" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
          <h6 class="mb-3 py-3 border-bottom">Adresse de facturation</h6>
        <div class="row">
         <div class="col-sm-6">
          <div class="custom-control custom-checkbox">
              <input {% if form.meme_adresse_livraison.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="meme_adresse_livraison" id="same-address">
            <label class="custom-control-label" for="same-address">Identique à l'adresse de livraison</label>
          </div>
         </div>
         <div class="col-sm-6">
            <div class="custom-control custom-checkbox">
                <input {% if form.save_info.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="save_info" id="save_infos">
            <label class="custom-control-label" for="save-info">Sauvegarder ces informations</label>
          </div>
          </div>
        </div>

          <!-- Navigation (desktop)-->
          <div class="d-none d-lg-flex pt-4 mt-3">
            <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="{% url 'shopcart' %}"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Retour au panier</span><span class="d-inline d-sm-none">Retour</span></a></div>
            <div class="w-50 ps-2"><button class="btn btn-primary d-block w-100" type="submit"><span class="d-none d-sm-inline">Procéder au paiement</span><span class="d-inline d-sm-none">Suivant</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></button></div>
          </div>
             </form>
        </section>
        <!-- Sidebar-->
      {% include 'sidebar-order-summary.html' %}
      </div>
      <!-- Navigation (mobile)-->
      <div class="row d-lg-none">
        <div class="col-lg-8">
          <div class="d-flex pt-4 mt-3">
            <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="{% url 'shopcart' %}"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Retour au panier</span><span class="d-inline d-sm-none">Retour</span></a></div>
            <div class="w-50 ps-2"><button type="submit" class="btn btn-primary d-block w-100"><span class="d-none d-sm-inline">Procéder au paiement</span><span class="d-inline d-sm-none">Suivant</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></button></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer-->
  {% include 'footer.html' %}
{% endblock %}