<ul class="navbar-nav">
<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Toutes les categories</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'shopCategories' %}">
                        <div class="d-flex">
                          <div class="lead text-muted pt-1"><i class="ci-list"></i></div>
                          <div class="ms-2"><span class="d-block text-heading">Categories</span><small class="d-block text-muted">Decouvrez nos categories</small></div>
                        </div></a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="components/typography.html">
                        <div class="d-flex">
                          <div class="lead text-muted pt-1"><i class="ci-server"></i></div>
                          <div class="ms-2"><span class="d-block text-heading">Components<span class="badge bg-info ms-2">40+</span></span><small class="d-block text-muted">Faster page building</small></div>
                        </div></a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="docs/changelog.html">
                        <div class="d-flex">
                          <div class="lead text-muted pt-1"><i class="ci-edit"></i></div>
                          <div class="ms-2"><span class="d-block text-heading">Changelog<span class="badge bg-success ms-2">v2.0</span></span><small class="d-block text-muted">Regular updates</small></div>
                        </div></a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="mailto:support@createx.studio">
                        <div class="d-flex">
                          <div class="lead text-muted pt-1"><i class="ci-help"></i></div>
                          <div class="ms-2"><span class="d-block text-heading">Support</span><small class="d-block text-muted">support@createx.studio</small></div>
                        </div></a></li>
                  </ul>
                </li>
</ul>

