{% extends 'base.html' %}
{% load static %}
{% block title %} Aide {% endblock %}
{% block body %}

    <style>
    .fa-star{
        color: yellow;
    }

       div.stars {
        width: 270px;
        display: inline-block
    }

    .mt-200 {
        margin-top: 200px
    }

    input.star {
        display: none
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 36px;
        color: #4A148C;
        transition: all .2s
    }
    input.star:checked~label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s
    }

    input.star-5:checked~label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952
    }

    input.star-1:checked~label.star:before {
        color: #F62
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3)
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome
    }
    </style>



    <!-- Custom page title-->
    {% comment %}
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'shopSingleV1' %}"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Product Page v.2</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-2">{{ product.titreProduit }}</h1>
          <div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
            </div><span class="d-inline-block fs-sm text-white opacity-70 align-middle mt-1 ms-1">{{ review.count }} commentaire(s)</span>
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="container">
      <div class="bg-light shadow-lg rounded-3">
        <!-- Tabs-->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link py-4 px-sm-4 active" href="#general" data-bs-toggle="tab" role="tab">Info <span class='d-none d-sm-inline'>Generale</span></a></li>
          <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="#specs" data-bs-toggle="tab" role="tab"><span class='d-none d-sm-inline'>Autres</span> spécificités</a></li>
          <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="#reviews" data-bs-toggle="tab" role="tab">{% if review.count == 1 %}Commentaire {% else %} Commentaires {% endif %} <span class="fs-sm opacity-60">({{ review.count }} )</span></a></li>
        </ul>
        <div class="px-4 pt-lg-3 pb-3 mb-5">
          <div class="tab-content px-lg-3">
            <!-- General info tab-->
            <div class="tab-pane fade show active" id="general" role="tabpanel">
              <div class="row">
                <!-- Product gallery-->
                <div class="col-lg-7 pe-lg-0">
                  <div class="product-gallery">
                    <div class="product-gallery-preview order-sm-2">
                      <div class="product-gallery-preview-item active" id="first"><img class="image-zoom" src="{{ product.imageProduit.url }}" data-zoom="{{ product.imageProduit.url }}" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                      <div class="product-gallery-preview-item" id="second"><img class="image-zoom" src="{{ product.imageProduit.url }}" data-zoom="{{ product.imageProduit.url }}" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                      <div class="product-gallery-preview-item" id="third"><img class="image-zoom" src="{{ product.imageProduit.url }}" data-zoom="{{ product.imageProduit.url }}" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                      <div class="product-gallery-preview-item" id="fourth"><img class="image-zoom" src="{{ product.imageProduit.url }}" data-zoom="{{ product.imageProduit.url }}" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                    </div>
                    <div class="product-gallery-thumblist order-sm-1"><a class="product-gallery-thumblist-item active" href="#first"><img src="{{ product.imageProduit.url }}" alt="Product thumb"></a><a class="product-gallery-thumblist-item" href="#second"><img src="{{ product.imageProduit.url }}" alt="Product thumb"></a><a class="product-gallery-thumblist-item" href="#third"><img src="{{ product.imageProduit.url }}" alt="Product thumb"></a><a class="product-gallery-thumblist-item" href="#fourth"><img src="{{ product.imageProduit.url }}" alt="Product thumb"></a><a class="product-gallery-thumblist-item video-item" href="https://www.youtube.com/watch?v=nrQevwouWn0">
                        <div class="product-gallery-thumblist-item-text"><i class="ci-video"></i>Video</div></a></div>
                  </div>
                </div>
                <!-- Product details-->
                <div class="col-lg-5 pt-4 pt-lg-0">
                  <div class="product-details ms-auto pb-3">
                      <p>Prix</p>
                    <div class="h3 fw-normal text-accent mb-3 me-1">${{ product.prixActual }}.<small>99</small></div>
                      <div class="position-relative me-n4 mb-3">
                      <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color4" data-bs-label="colorOption" value="Dark blue/Black">
                        <label class="form-option-label rounded-circle" for="color4"><span class="form-option-color rounded-circle" style="background-color: #333;"></span></label>
                      </div>

                      <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Produit {{ product.stateProd }}</div>
                    </div>
                    <div class="d-flex align-items-center pt-2 pb-4">
                      <select class="form-select me-3" style="width: 5rem;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                      <button class="btn btn-primary btn-shadow d-block w-100" type="button"><i class="ci-cart fs-lg me-2"></i>procéder au paiement</button>
                    </div>
                    <div class="d-flex mb-4">
                      <div class="w-100 me-3">
                        <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-heart fs-lg me-2"></i><span class='d-none d-sm-inline'>Ajouter à la </span>liste de souhaits</button>
                      </div>
                      <div class="w-100">
                        <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-compare fs-lg me-2"></i>Compare</button>
                      </div>
                    </div>
                    <!-- Product panels-->
                    <div class="accordion mb-4" id="productPanels">
                      <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions"><i class="ci-delivery text-muted lead align-middle mt-n1 me-2"></i>Options de livraison</a></h3>
                        <div class="accordion-collapse collapse show" id="shippingOptions" data-bs-parent="#productPanels">
                          <div class="accordion-body fs-sm">
                            <div class="d-flex justify-content-between border-bottom pb-2">
                              <div>
                                <div class="fw-semibold text-dark">Livraison locale par courrier</div>
                                <div class="fs-sm text-muted">2 - 4 jours</div>
                              </div>
                              <div>$16.50</div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <div>
                                <div class="fw-semibold text-dark">Expédition par voie terrestre UPS</div>
                                <div class="fs-sm text-muted">4 - 6 jours</div>
                              </div>
                              <div>$19.00</div>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <div>
                                <div class="fw-semibold text-dark">Passer prendre au magasin</div>
                                <div class="fs-sm text-muted">&mdash;</div>
                              </div>
                              <div>$0.00</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#localStore" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="localStore"><i class="ci-location text-muted fs-lg align-middle mt-n1 me-2"></i>Trouver dans le magasin local</a></h3>
                        <div class="accordion-collapse collapse" id="localStore" data-bs-parent="#productPanels">
                          <div class="accordion-body">
                            <select class="form-select">
                              <option value>Chosissez le pays</option>
                              <option value="Argentina">Argentina</option>
                              <option value="Belgium">Belgium</option>
                              <option value="France">France</option>
                              <option value="Germany">Germany</option>
                              <option value="Spain">Spain</option>
                              <option value="UK">United Kingdom</option>
                              <option value="USA">USA</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Sharing-->
                    <label class="form-label d-inline-block align-middle my-2 me-3">Partager:</label><a class="btn-share btn-twitter me-2 my-2" href="#"><i class="ci-twitter"></i>Twitter</a><a class="btn-share btn-instagram me-2 my-2" href="#"><i class="ci-instagram"></i>Instagram</a><a class="btn-share btn-facebook my-2" href="#"><i class="ci-facebook"></i>Facebook</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tech specs tab-->
            <div class="tab-pane fade" id="specs" role="tabpanel">
              <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                <div class="d-flex align-items-center me-md-3"><img src="{{ product.imageProduit.url }}" width="90" alt="Product thumb">
                  <div class="ps-3">
                    <h6 class="fs-base mb-2">{{ product.titreProduit }}</h6>
                    <div class="h4 fw-normal text-accent">${{ product.prixActual }}.<small>99</small></div>
                  </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                  <select class="form-select me-2" style="width: 5rem;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <button class="btn btn-primary btn-shadow me-2" type="button"><i class="ci-cart fs-lg me-sm-2"></i><span class="d-none d-sm-inline">procéder au paiement</span></button>
                  <div class="me-2">
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                  </div>
                  <div>
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i class="ci-compare fs-lg"></i></button>
                  </div>
                </div>
              </div>
              <!-- Specs table-->
              <div class="row pt-2">
                <div class="col-lg-5 col-sm-6">
                  <h3 class="h6">Produit</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">quantité en stock:</span><span>{{ product.quantite_du_stock }}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Pays:</span><span>{{ product.pays }}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Etat du produit:</span><span>{{ product.stateProd }}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Lieu dans le shop:</span><span>{{ product.lieu }}</span></li>
                  </ul>
                  <h3 class="h6">généralités sur le produit</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Categorie:</span><span>Rectangular</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Etat:</span><span>Plastics / Ceramics</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">categori:</span><span>Silicone</span></li>
                  </ul>
                  <h3 class="h6">Caractéristiques du produit</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Couleur:</span><span>Jaune</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">taille:</span><span>1.28"</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">model:</span><span>Samsung</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">marque:</span><span>Samsung</span></li>
                  </ul>
                </div>
                <div class="col-lg-5 col-sm-6 offset-lg-1">
                  <h3 class="h6">Info sur le Vendeur</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Nom du vendeur:</span><span>{{ product.vendeur.nom }}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Telephone:</span><span>{{ product.vendeur.telephone }}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Email:</span><span>{{ product.vendeur.email_adresse }}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Pays:</span><span>{{ product.vendeur.pays }}</span></li>
                  </ul>
                  <h3 class="h6">Livraison</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">délai de livraison estimé au pays:</span><span>{{ product.livraison_time }} jour(1)</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">délai de livraison estimé en dehors du pays:</span><span>14 jours</span></li>
                  </ul>
                  <h3 class="h6">Dimensions</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Dimensions:</span><span>195 x 20 mm</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Poids:</span><span>32 g</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Reviews tab-->
            <div class="tab-pane fade" id="reviews" role="tabpanel">
              <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                <div class="d-flex align-items-center me-md-3"><img src="{{ product.imageProduit.url }}" width="90" alt="Product thumb">
                  <div class="ps-3">
                    <h6 class="fs-base mb-2">{{ product.titreProduit }}</h6>
                    <div class="h4 fw-normal text-accent">${{ product.prixActual }}.<small>99</small></div>
                  </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                  <select class="form-select me-2" style="width: 5rem;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <button class="btn btn-primary btn-shadow me-2" type="button"><i class="ci-cart fs-lg me-sm-2"></i><span class="d-none d-sm-inline">procéder au paiement</span></button>
                  <div class="me-2">
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                  </div>
                  <div>
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i class="ci-compare fs-lg"></i></button>
                  </div>
                </div>
              </div>
              <!-- Reviews-->
              <div class="row pt-2 pb-3">
                <div class="col-lg-4 col-md-5">
                  <h2 class="h3 mb-4">{{ review.count }} commentaire(s)</h2>
                  <div class="star-rating me-2"><i class="ci-star-filled fs-sm text-accent me-1"></i><i class="ci-star-filled fs-sm text-accent me-1"></i><i class="ci-star-filled fs-sm text-accent me-1"></i><i class="ci-star-filled fs-sm text-accent me-1"></i><i class="ci-star fs-sm text-muted me-1"></i></div><span class="d-inline-block align-middle">4.1 Note globale</span>
                  <p class="pt-3 fs-sm text-muted">58 sur 74 (77%)<br>Les clients ont recommandé ce produit</p>
                </div>
                <div class="col-lg-8 col-md-7">
                  <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">5</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">43</span>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">4</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 27%; background-color: #a7e453;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">16</span>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">3</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 17%; background-color: #ffda75;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">9</span>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">2</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 9%; background-color: #fea569;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">4</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">1</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 4%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">2</span>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-3">
              <div class="row py-4">
                <!-- Reviews list-->
                <div class="col-md-7">
                  <div class="d-flex justify-content-end pb-4">
                    <div class="d-flex flex-nowrap align-items-center">
                      <label class="fs-sm text-muted text-nowrap me-2 d-none d-sm-block" for="sort-reviews">Sort by:</label>
                      <select class="form-select form-select-sm" id="sort-reviews">
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Popular</option>
                        <option>High rating</option>
                        <option>Low rating</option>
                      </select>
                    </div>
                  </div>
                  <!-- Review-->
                    {% for comment in review %}
                  <div class="product-review pb-4 mb-4 border-bottom">
                    <div class="d-flex mb-3">
                      <div class="d-flex align-items-center me-4 pe-2"><img class="rounded-circle" src="{% static 'userdefaultimage/userdefault.png' %}" width="50" alt="Rafael Marquez">
                        <div class="ps-3">
                          <h6 class="fs-sm mb-0">{{ comment.client|title }}</h6><span class="fs-ms text-muted">{{ comment.created_at }}</span>
                        </div>
                      </div>
                      <div>
                        <div class="review-rating">
                            <i class="fa fa-star{% if comment.notes < 1 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if comment.notes < 2 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if comment.notes < 3 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if comment.notes < 4 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if comment.notes < 5 %}-o empty{% endif %}"></i>


                        </div>
                        <div class="fs-ms text-muted pull-right">83% des utilisateurs ont trouvé ce commentaire utile</div>
                      </div>
                    </div>
                    <p class="fs-md mb-2">{{ comment.comment }}</p>

                    <div class="text-nowrap">
                      <button class="btn-like" type="button">15</button>
                      <button class="btn-dislike" type="button">3</button>
                    </div>
                  </div>
                    {% endfor %}
                  <!-- Review-->

                  <!-- Review-->

                </div>
                <!-- Leave review form-->
                <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                  <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
                    <h3 class="h4 pb-2">Laisser un commentaire</h3>
                    <form class="needs-validation" action="#" method="post" novalidate>
                        {% csrf_token %}
                      <div class="mb-3">
                        <label class="form-label" for="review-name">Sujet<span class="text-danger">*</span></label>
                        {{ form.sujet }}
                        <div class="invalid-feedback">Veuillez entrer un sujet!</div><small class="form-text text-muted">De quel produit s'agit il?</small>
                      </div>

                      <div class="mb-3">
                        <label class="form-label" for="review-text">Commentaire<span class="text-danger">*</span></label>
                        {{ form.comment }}
                        <div class="invalid-feedback">Merci de nous laisser un commentaire!</div><small class="form-text text-muted">Ecrivez au moins 50 caracteres.</small>
                      </div>
                        <div class="mb-3">
                            <div class="input-rating">
                            <strong class="text-uppercase">Choisir une note</strong>
                            <div class="stars">
                            <input value="5" class="star star-5" id="star-5" type="radio" name="notes" />
                            <label class="star star-5" for="star-5"></label>
                            <input value="4" class="star star-4" id="star-4" type="radio" name="notes" />
                            <label class="star star-4" for="star-4"></label>
                            <input value="3" class="star star-3" id="star-3" type="radio" name="notes" />
                            <label class="star star-3" for="star-3"></label>
                            <input value="2" class="star star-2" id="star-2" type="radio" name="notes" />
                            <label class="star star-2" for="star-2"></label>
                            <input value="1" class="star star-1" id="star-1" type="radio" name="notes" />
                            <label class="star star-1" for="star-1"></label>
                             </div>
                           </div>
                        </div>
                        {% if request.user.clients or request.user.vendeurs %}
                      <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Soumettre un commentaire</button>
                        {% else %}
                        <small>connectez vous pour laisser un commentaire</small>
                        {% endif %}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product description-->
    <div class="container pt-lg-3 pb-4 pb-sm-5">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="h3 pb-2">Details sur le produit</h2>
          <p>{{ product.DescriptionProduit }}.</p><img src="{{ product.imageProduit.url }}" alt="Product description">
          <p>Autres...</p>
        </div>
      </div>
    </div>
    <hr class="mb-5">
    <!-- Product carousel (You may also like)-->
    <div class="container pt-lg-2 pb-5 mb-md-3">
      <h2 class="h3 text-center pb-4">Vous pouvez également aimer</h2>
      <div class="tns-carousel tns-controls-static tns-controls-outside">
        <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}">
          <!-- Product-->
        {% if similar_products %}
            {% for prod_sim in similar_products %}
          <div>
            <div class="card product-card card-static">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="#"><img src="{{ prod_sim.imageProduit.url }}" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Smartwatches</a>
                <h3 class="product-title fs-sm"><a href="#">Health &amp; Fitness Smartwatch</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price"><span class="text-accent">$250.<small>00</small></span></div>
                  <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        {% endif %}
          <!-- Product-->

          <!-- Product-->

          <!-- Product-->

          <!-- Product-->

        </div>
      </div>
    </div>
    <!-- Product bundles carousel (Cheaper together)-->
    <div class="container pt-lg-1 pb-5 mb-md-3">
      <div class="card card-body pt-5">
        <h2 class="h3 text-center pb-4">Cheaper together</h2>
        <div class="tns-carousel">
          <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;controls&quot;: false, &quot;nav&quot;: true}">
            <div>
              <div class="row align-items-center">
                <div class="col-md-3 col-sm-5">
                  <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/70.jpg" alt="Product"></a>
                    <div class="card-body py-2"><span class="d-inline-block bg-secondary fs-ms rounded-1 py-1 px-2 mb-3">Your product</span>
                      <h3 class="product-title fs-sm"><a href="#">{{ product.titreProduit }}</a></h3>
                      <div class="product-price text-accent">$124.<small>99</small></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-sm-2 text-center">
                  <div class="display-4 fw-light text-muted px-4">+</div>
                </div>
                <div class="col-md-3 col-sm-5">
                  <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/72.jpg" alt="Product"></a>
                    <div class="card-body py-2"><span class="d-inline-block bg-danger fs-ms text-white rounded-1 py-1 px-2 mb-3">-20%</span>
                      <h3 class="product-title fs-sm"><a href="#">Smartwatch Wireless Charger</a></h3>
                      <div class="product-price"><span class="text-accent">$16.<small>00</small></span>
                        <del class="fs-sm text-muted">$20.<small>00</small></del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-none d-md-block col-md-1 text-center">
                  <div class="display-4 fw-light text-muted px-4">=</div>
                </div>
                <div class="col-md-4 pt-3 pt-md-0">
                  <div class="bg-secondary p-4 rounded-3 text-center mx-auto" style="max-width: 20rem;">
                    <div class="h3 fw-normal text-accent mb-3 me-1">$140.<small>99</small></div>
                    <button class="btn btn-primary" type="button">Purchase together</button>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="row align-items-center">
                <div class="col-md-3 col-sm-5">
                  <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/70.jpg" alt="Product"></a>
                    <div class="card-body py-2"><span class="d-inline-block bg-secondary fs-ms rounded-1 py-1 px-2 mb-3">Your product</span>
                      <h3 class="product-title fs-sm"><a href="#">{{ product.titreProduit }}</a></h3>
                      <div class="product-price text-accent">${{ product.prixActual }}.<small>99</small></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-sm-2 text-center">
                  <div class="display-4 fw-light text-muted px-4">+</div>
                </div>
                <div class="col-md-3 col-sm-5">
                  <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/71.jpg" alt="Product"></a>
                    <div class="card-body py-2"><span class="d-inline-block bg-danger fs-ms text-white rounded-1 py-1 px-2 mb-3">-15%</span>
                      <h3 class="product-title fs-sm"><a href="#">Bluetooth Headset Air (White)</a></h3>
                      <div class="product-price"><span class="text-accent">$59.<small>00</small></span>
                        <del class="fs-sm text-muted">$69.<small>00</small></del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-none d-md-block col-md-1 text-center">
                  <div class="display-4 fw-light text-muted px-4">=</div>
                </div>
                <div class="col-md-4 pt-3 pt-md-0">
                  <div class="bg-secondary p-4 rounded-3 text-center mx-auto" style="max-width: 20rem;">
                    <div class="h3 fw-normal text-accent mb-3 me-1">$183.<small>99</small></div>
                    <button class="btn btn-primary" type="button">Purchase together</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer-->
     {% include 'footer.html' %}

{% endblock %}