  {% load static %}
      <div class="topbar topbar-dark bg-darker">
        <div class="container">
          <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Liens utiles</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="tel:00331697720"><i class="ci-support text-muted me-2"></i>(+) 243 99 68 350 22</a></li>
              <li><a class="dropdown-item" href="order-tracking.html"><i class="ci-location text-muted me-2"></i>Suivi des commandes</a></li>
            </ul>
          </div>
          <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="ci-support"></i><span class="text-muted me-1">Support</span><a class="topbar-link" href="tel:00243996835022">(+) 243 99 68 350 22</a></div>
          <div class="tns-carousel tns-controls-static d-none d-md-block">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
              <div class="topbar-text">Livraison gratuite pour toute commande supérieure à $200</div>
              <div class="topbar-text">Nous remboursons l'argent dans les 30 jours</div>
              <div class="topbar-text">Une assistance clientèle amicale 24/7</div>
            </div>
          </div>
          <div class="ms-3 text-nowrap"><a class="topbar-link me-4 d-none d-md-inline-block" href="order-tracking.html"><i class="ci-location"></i>Suivi des commandes</a>
            <div class="topbar-text dropdown disable-autohide"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img class="me-2" src="{% static 'img/flags/fr.png' %}" width="20" alt="Français">Fr / $</a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li class="dropdown-item">
                  <select class="form-select form-select-sm">
                    <option value="eur">€ EUR</option>
                  </select>
                </li>
                <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="{% static 'img/flags/en.png' %} " width="20" alt="English">English</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>