{% extends 'base.html' %}
{% load mptt_tags %}
{% load static %}
{% block title %} Shopping categorie {% endblock %}
{% block body %}
    <!-- Page Title (Light)-->
    <div class="bg-secondary py-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'standardApps:home' %}"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Categories</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 mb-0">Shop categories</h1>
        </div>
      </div>
    </div>
    <div class="container pb-4 pb-sm-5">
      <!-- Categories grid-->
      <div class="row pt-5">
        <!-- Catogory-->
          {% recursetree parent_children_categories %}
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">{{ node.titre }}</h6>
                <p class="card-text fs-sm text-muted">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/all-category/{{ node.id }}/{{ node.slug }}" class="btn btn-sm btn-primary">Visiter le shop</a>
              </div>
            </div>
        </div>
          {% endrecursetree %}
      </div>

     {% comment %} Discounted Products {% endcomment %}

              <section class="pt-3 pt-md-4">
            <!-- Heading-->
            <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
              <h2 class="h3 mb-0 pt-3 me-3">Produits en promotion</h2>
              <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="grocery-catalog.html">Plus de produits<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
            </div>
            <div class="tns-carousel tns-controls-static tns-controls-outside tns-nav-enabled pt-2">
              <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:5}}}">
                <!-- Product-->
                  {% for disc_prod in discount_products %}
                <div>
                  <div class="card product-card card-static pb-3"><span class="badge bg-danger badge-shadow">Promo</span>
                    <a class="btn-wishlist btn-sm" href="{% url 'account:addWishlist' disc_prod.slug %}"  type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Ajouter à la liste de souhaits"><i class="ci-heart"></i></a><a class="card-img-top d-block overflow-hidden" href="{% url 'shopSingleV2' disc_prod.slug %}"><img src="{{ disc_prod.imageProduit.url }}" alt="Product"></a>
                    <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{ disc_prod.titreProduit }}</a>
                      <h3 class="product-title fs-sm text-truncate"><a href="{% url 'shopSingleV2' disc_prod.slug %}">{{ disc_prod.DescriptionProduit|slice:'20' }}...</a></h3>
                      <div class="product-price"><a class="text-decoration-line-through">${{ disc_prod.prixActual }}.<small>00</small></a>

                      </div>
                        <span class="fs-sm text-muted">${{ disc_prod.prixDiscount }}.<small>00</small></span>
                    </div>
                    <div class="product-floating-btn">
                      <a href="{{ disc_prod.get_adding_to_cart_url }}"  class="btn btn-primary btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></a>
                    </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
            </div>
          </section>

      <!-- Popular brands-->
      <h2 class="h3 text-center py-4 mt-md-3">Popular brands</h2>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/01.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/02.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/03.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/04.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/05.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/06.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/07.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/08.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/09.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/10.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/11.png" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="img/shop/brands/12.png" width="150" alt="Brand"></a></div>
      </div>
    </div>
    <!-- Footer-->
      {% include 'footer.html' %}
{% endblock %}